#cloud-config

write_files: 
- path: /tmp/cli_config.txt
  content: | 
    # written from rift.io cloud-init
    SetPort fastpath 1-3 2
    SetPortRoleFunction 1-3 service
    SetPortEnable 1-3
    consul_enabled="true"
    consultemplate_enabled="true"
    repository_run="true"
    configuration_run="true"
    configuration_service_port="9001"
    msd_config_service_authenabled="false"

runcmd:
    - cat /tmp/cli_config.txt >> /usr/local/sandvine/etc/rc.conf
